<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SMARTCARD</title>
	<link rel="icon" type="image/png" href="/image/favicon.ico" />

	<script src="/creativeScroll/libs/gsap/gsap.min.js" defer></script>
	<script src="/creativeScroll/libs/gsap/ScrollTrigger.min.js" defer></script>
	<script src="/creativeScroll/libs/gsap/ScrollSmoother.min.js" defer></script>

	<link rel="stylesheet" href="/css/bootstrap-5.0.2-dist/css/bootstrap.min.css">
	<script src="/css/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="/creativeScroll/css/creativeScroll.css" />
	<script src="/js/jquery-3.6.4.js"></script>
	<script src="/js/HTMLImporter.js"></script>
	<script src="/js/language.js"></script>
	<script src="/creativeScroll/js/creativeScroll.js" defer></script>
	<link rel="stylesheet" href="/font/font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/parallax-scrolling/css/parallax-scrolling.css" />
	<script src="/parallax-scrolling/libs/gsap/gsap.min.js" defer></script>
	<script src="/parallax-scrolling/libs/gsap/ScrollTrigger.min.js" defer></script>
	<script src="/parallax-scrolling/libs/gsap/ScrollSmoother.min.js" defer></script>
	<script src="/parallax-scrolling/js/parallax-scrolling.js" defer></script>

</head>

<body>

	<!-- main -->
	<div class="wrapper" id="wrapper">
		<!-- menu -->
		<script>HTMLImporter.import("menu.html");</script>

		<!-- content -->
		<div class="content">

			<!-- home -->
			<header class="hero-section home">
				<div id="home-waves">
					<div class="home-wave" id="home-wave1"></div>
					<div class="home-wave" id="home-wave2"></div>
					<div class="home-wave" id="home-wave3"></div>
					<div class="home-wave" id="home-wave4"></div>
				</div>
				<img data-speed="0.6" class="hero" src="/image/index/logo.png" alt="Alt" />
				<div data-speed="0.6" class="container-1">
					<p lang="en" class="typed">Digital business card</p>
					<p lang="vi" class="typed">Danh thiếp kĩ thuật số</p>
				</div>
				<div data-speed="0.6" class="container-2">
					<p lang="en" class="typed">Easily accessible and shareable</p>
					<p lang="vi" class="typed">Dễ dàng tiếp cận - chia sẻ</p>
				</div>
				<div data-speed="0.6" class="container-3">
					<p lang="en" class="typed">Convenient and affordable</p>
					<p lang="vi" class="typed">Tiện lợi - giá hợp lý</p>
				</div>
				<div data-speed="0.6" class="container-4">
					<p lang="en" class="typed">The future of info sharing</p>
					<p lang="vi" class="typed">Tương lai của chia sẻ thông tin</p>
				</div>
				<div class="container-content">
					<div data-speed="0.75" class="main-header">
						<span class="portfolio-item d-block portfolio-item1">
							<div class="foto">
								<div>
									<img class="ImgThumbnail" src="../image/index/home-8-front.png" alt="projectImages"
										height="230" />
								</div>
							</div>
						</span>
						<span class="portfolio-item d-block portfolio-item2">
							<div class="foto">
								<div>
									<img class="ImgThumbnail" src="../image/index/home-7-front.png" alt="projectImages"
										height="230" />
								</div>
							</div>
						</span>
						<span class="portfolio-item d-block portfolio-item3">
							<div class="foto">
								<div>
									<img class="ImgThumbnail" src="../image/index/home-9-front.png" alt="projectImages"
										height="230" />
								</div>
							</div>
						</span>
						<button lang="en" class="button-explore">Explore now</button>
						<button lang="vi" class="button-explore">Tìm hiểu thêm</button>
					</div>
				</div>
			</header>
			<div class="modal">
				<span class="close">×</span>
				<img class="modalImage" id="img01" />
			</div>
			<script>
				$(".button-explore").click(function name(params) {
					$('html').animate({
						scrollTop: $(".gallery__item").offset().top-180
					}, 600);
				})

				// show modal when user click on image
				var modalEle = document.querySelector(".modal");
				var modalImage = document.querySelector(".modalImage");
				Array.from(document.querySelectorAll(".ImgThumbnail")).forEach(item => {
					item.addEventListener("click", event => {
						modalEle.style.display = "block";
						modalImage.src = event.target.src;
						$("#home-waves").hide();
					});
				});
				document.querySelector(".close").addEventListener("click", () => {
					modalEle.style.display = "none";
					$("#home-waves").show();
				});
			</script>
			<div class="portfolio">
				<div class="container-content">
					<main class="gallery">
						<div data-speed="0.9" class="gallery__left">
							<img class="gallery__item" src="/image/index/home-11.png" alt="Alt" />
							<div class="text-block gallery__item">
								<h2 class="text-block__h" lang="en">
									NEW TRENDS WITH OUTSTANDING FEATURES
								</h2>
								<h2 class="text-block__h" lang="vi">
									XU HƯỚNG MỚI VỚI CÁC TÍNH NĂNG VƯỢT TRỘI
								</h2>
								<p class="text-block__p" lang="en">
									Many templates for choices. Simple and user-friendly setup interface. Share
									information with just one tap.
								</p>
								<p class="text-block__p" lang="vi">
									Thiết kế thẻ đa dạng, nhiều lựa chọn. Giao diện cài đặt đơn giản, dễ sử dụng. Chia
									sẻ thông tin chỉ với một lần chạm.
								</p>
							</div>
							<div class="gallery__item gallery__item-home">
								<img class="gallery__item-home-home13-front" src="/image/index/home-13-front.png"
									alt="Alt" />
								<img class="gallery__item-home-home13-back" src="/image/index/home-13-back.png"
									alt="Alt" />
							</div>
						</div>

						<div data-speed="1.1" class="gallery__right">
							<div class="text-block gallery__item">
								<h2 class="text-block__h" lang="en">
									SMARTCARD - DIGITAL BUSINESS CARD PLATFORM
								</h2>
								<h2 class="text-block__h" lang="vi">
									SMARTCARD - NỀN TẢNG DANH THIẾP KĨ THUẬT SỐ
								</h2>
								<p class="text-block__p" lang="en">
									Welcome to us. Hope you have a fantastic experience with SMARTCARD.
								</p>
								<p class="text-block__p" lang="vi">
									Chào mừng bạn đến với chúng tôi. Hi vọng bạn có một trải nghiệm tuyệt vời với
									SMARTCARD.
								</p>
							</div>
							<div class="gallery__item gallery__item-home" style="display: flex;justify-content: center;">
								<img src="/image/index/home-12-front.png" alt="Alt" />
								<img src="/image/index/home-12-back.png" alt="Alt" />
							</div>
							<div class="gallery__item gallery__item-home" style="display: flex;justify-content: center;">
								<img class="gallery__item-home-home14-front" src="/image/index/home-14-front.png"
									alt="Alt" />
								<img class="gallery__item-home-home14-back" src="/image/index/home-14-back.png"
									alt="Alt" />
							</div>
							<div class="gallery__item gallery__item-home" style="display: flex;justify-content: center;">
								<img class="gallery__item-home-sticker-front" src="/image/index/sticker-front.png"
									alt="Alt" />
								<img class="gallery__item-home-sticker-back" src="/image/index/sticker-back.png"
									alt="Alt" />
							</div>
						</div>
					</main>
				</div>
			</div>

			<!-- about -->
			<h2 lang="en" class="title-header about-en" style="margin-top: -300px;">ABOUT SMARTCARD</h2>
			<h2 lang="vi" class="title-header about-vi" style="margin-top: -300px;">VỀ SMARTCARD</h2>
			<div class="portfolio">
				<div class="container-content">
					<main class="gallery content-wrap">
						<div data-speed="1.05" class="gallery__left content-left">
							<div class="contactus-content-item gallery__item content-left-item"
								style="max-height: 200px;margin-bottom: 30px;">
								<p lang="en"><span style="font-weight: 800;">SMARTCARD</span> is a card that has an
									integrated NFC chip - a chip that supports close-range communication for storing and
									processing information.</p>
								<p lang="vi"><span style="font-weight: 800;">SMARTCARD</span> là loại thẻ thông minh bên
									trong có tích hợp chip NFC - một loại chip hỗ trợ cho các thiết bị giao tiếp gần, có
									khả năng lưu trữ và xử lý thông tin.</p>
							</div>
							<div class="contactus-content-item gallery__item content-left-item"
								style="margin-bottom: 30px;">
								<img src="/image/index/about-6.png" alt="">
							</div>
							<div class="contactus-content-item gallery__item content-left-item">
								<p lang="en">With its compact size almost equivalent to a credit card, you can carry and
									use <span style="font-weight: 800;">SMARTCARD</span> anywhere.</p>
								<p lang="vi">Vói kích thước nhỏ gọn gần bằng chiếc thẻ tín dụng, bạn có thể mang theo và
									sử dụng <span style="font-weight: 800;">SMARTCARD</span> ở bất kỳ đâu.</p>
							</div>
						</div>
						<div data-speed="1.1" class="gallery__right content-right">
							<div class="contactus-content-item gallery__item content-right-item">
								<img src="/image/index/about-4.png" alt="">
							</div>
							<div class="contactus-content-item gallery__item content-right-item"
								style="margin-bottom: 30px;">
								<p lang="en"><span style="font-weight: 800;">SMARTCARD</span> acts as a medium to
									transfer information/data from the card to a receiving device with just a
									close-range communication interaction. Consequently, the cardholder can easily share
									their information with the recipient.</p>
								<p lang="vi"><span style="font-weight: 800;">SMARTCARD</span> đóng vai trò truyền thông
									tin/dữ liệu trong thẻ tới thiết bị nhận chỉ bằng một thao tác giao tiếp gần. Từ đó,
									người sở hữu thẻ có thể dễ dàng chia sẻ thông tin của mình cho người nhận.</p>
							</div>
							<div class="contactus-content-item gallery__item content-right-item">
								<img src="/image/index/about-7.png" alt="" style="margin-bottom: 0;">
							</div>
						</div>
					</main>
				</div>
			</div>


			<!-- products -->
			<h2 lang="en" class="title-header products-en">PRODUCTS</h2>
			<h2 lang="vi" class="title-header products-vi">SẢN PHẨM</h2>
			<div class="portfolio product">
				<div class="container-content">
					<main class="content-wrap-reviews">
						<div data-speed="1" class="gallery__left">
							<div class="gallery__item gallery__item-reviews">
								<div class="filters-container" id="menu">
									<ul class="filters-wrap filters col-lg-12 no-padding">
										<li lang="en" class="active" data-filter="*">All</li>
										<li lang="vi" class="active" data-filter="*">Tất cả</li>
										<li lang="en" data-filter=".standard" class="">Standard</li>
										<li lang="vi" data-filter=".standard" class="">Tiêu chuẩn</li>
										<li lang="en" data-filter=".premium" class="">Premium</li>
										<li lang="vi" data-filter=".premium" class="">Cao cấp</li>
										<li data-filter=".ultimate" class="">VIP</li>
										<li data-filter=".sticker" class="">Sticker</li>
									</ul>
									<div class="filters-content">
										<div class="row grid">
											<div class="col-md-6 all standard"
												style="position: absolute; left: 0%; top: 0px;">
												<div class="single-menu">
													<span class="portfolio-item d-block product-item">
														<div class="foto">
															<div>
																<img src="/image/index/home-6-front.png" alt="projectImages"
																	height="230" />
																<span class="project-date">STA-01</span>
																<br />
																<p class="project-title-settings mt-3">
																	69.000 VND
																</p>
															</div>
														</div>
													</span>
												</div>
											</div>
											<div class="col-md-6 all premium"
												style="position: absolute; left: 0%; top: 370px;">
												<div class="single-menu">
													<span class="portfolio-item d-block product-item">
														<div class="foto">
															<div>
																<img src="/image/index/home-16-front.png"
																	alt="projectImages" height="230" />
																<span class="project-date">PRE-01</span>
																<br />
																<p class="project-title-settings mt-3">
																	89.000 VND
																</p>
															</div>
														</div>
													</span>
												</div>
											</div>
											<div class="col-md-6 all ultimate"
												style="position: absolute; left: 0%; top: 0px;">
												<div class="single-menu">
													<span class="portfolio-item d-block product-item">
														<div class="foto">
															<div>
																<img src="/image/index/home-7-front.png"
																	alt="projectImages" height="230" />
																<span class="project-date">VIP-01</span>
																<br />
																<p class="project-title-settings mt-3">
																	149.000 VND
																</p>
															</div>
														</div>
													</span>
												</div>
											</div>
											<div class="col-md-6 all ultimate"
												style="position: absolute; left: 50%; top: 0px;">
												<div class="single-menu">
													<span class="portfolio-item d-block product-item">
														<div class="foto">
															<div>
																<img src="/image/index/home-8-front.png"
																	alt="projectImages" height="230" />
																<span class="project-date">VIP-02</span>
																<br />
																<p class="project-title-settings mt-3">
																	149.000 VND
																</p>
															</div>
														</div>
													</span>
												</div>
											</div>
											<div class="col-md-6 all ultimate"
												style="position: absolute; left: 0%; top: 185px;">
												<div class="single-menu">
													<span class="portfolio-item d-block product-item">
														<div class="foto">
															<div>
																<img src="/image/index/home-9-front.png"
																	alt="projectImages" height="230" />
																<span class="project-date">VIP-03</span>
																<br />
																<p class="project-title-settings mt-3">
																	149.000 VND
																</p>
															</div>
														</div>
													</span>
												</div>
											</div>
											<div class="col-md-6 all ultimate"
												style="position: absolute; left: 50%; top: 185px;">
												<div class="single-menu">
													<span class="portfolio-item d-block product-item">
														<div class="foto">
															<div>
																<img src="/image/index/home-10-front.png"
																	alt="projectImages" height="230" />
																<span class="project-date">VIP-04</span>
																<br />
																<p class="project-title-settings mt-3">
																	149.000 VND
																</p>
															</div>
														</div>
													</span>
												</div>
											</div>
											<div class="col-md-6 all ultimate"
												style="position: absolute; left: 0%; top: 370px;">
												<div class="single-menu">
													<span class="portfolio-item d-block product-item">
														<div class="foto">
															<div>
																<img src="/image/index/home-18-front.png"
																	alt="projectImages" height="230" />
																<span class="project-date">VIP-05</span>
																<br />
																<p class="project-title-settings mt-3">
																	149.000 VND
																</p>
															</div>
														</div>
													</span>
												</div>
											</div>
											<div class="col-md-6 all sticker"
												style="position: absolute; left: 50%; top: 370px;">
												<div class="single-menu">
													<span class="portfolio-item d-block product-item">
														<div class="foto">
															<div>
																<img src="/image/index/sticker-front.png"
																	alt="projectImages" height="230" />
																<span class="project-date">STICKER</span>
																<br />
																<p class="project-title-settings mt-3">
																	49.000 VND
																</p>
															</div>
														</div>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</main>
				</div>

				<!-- show product when user click on product item -->
				<div class="product-item-show" id="product-item-show">
					<div class="product-item-show-wrap">
						<div class="product-item-show-left">
							<div class="product-item-show-left-item">
								<img src="/image/index/home-12-front.png" alt="" id="left-show-img" width="200"
									height="200">
							</div>
							<a id="left-show-arrowleft"><i class="fa fa-angle-left"></i></a>
							<a id="left-show-arrowright"><i class="fa fa-angle-right"></i></a>
						</div>
						<div class="product-item-show-right">
							<h2 id="product-name"></h2>
							<div class="product-detail">
								<p lang="en">Material: PVC</p>
								<p lang="vi">Chất liệu: PVC</p>
								<p lang="en">Size: <span id="product-size-en">80x50</span>mm</p>
								<p lang="vi">Kích thước: <span id="product-size-vi">80x50</span>mm</p>
								<p lang="en">Chip: Ntag215</p>
								<p lang="vi">Chip: Ntag215</p>
								<p lang="en">Storage capacity: 504 bytes</p>
								<p lang="vi">Dung lượng ghi: 504 byte</p>
								<p lang="en">Operating distance: 1 to 5cm</p>
								<p lang="vi">Khoảng cách hoạt động: 1 đến 5cm</p>
								<p lang="en">Data storage: >10 years</p>
								<p lang="vi">Lưu trữ dữ liệu: >10 năm</p>
								<p lang="en">Read count: 100,000 times</p>
								<p lang="vi">Số lần đọc: 100,000 lần</p>
							</div>
						</div>
						<span class="product-close">×</span>
					</div>

					<div id="myresult" class="img-zoom-result"></div>
				</div>
			</div>
			<p lang="en" style="margin-top: 100px;text-align: center;">*For VIP products, you are entitled to <strong>free</strong> customization of your <strong>own name</strong>, <strong>background image</strong>, and <strong>logo</strong>.</p>
			<p lang="vi" style="margin-top: 100px;text-align: center;">*Các sản phẩm VIP, khách hàng được thay <strong>tên</strong> và <strong>hình nền</strong>, <strong>logo</strong> của riêng mình <strong>miễn phí</strong></p>
			
			<script src="/js/isotope.pkgd.min.js"></script>
			<script>
				$('.filters li').click(function () {
					$('.filters li').removeClass('active');
					$(this).addClass('active');
					var data = $(this).attr('data-filter');
					$grid.isotope({
						filter: data
					})
				});

				if (document.getElementById("menu") || document.getElementById("gallery")) {
					var $grid = $(".grid").isotope({
						itemSelector: ".all",
						percentPosition: true,
						masonry: {
							columnWidth: ".all"
						}
					})
				};

				let productitemshow = document.getElementById("product-item-show")
				let leftshowimg = document.querySelector("#left-show-img");
				let productname = document.getElementById("product-name")
				Array.from(document.querySelectorAll(".product-item")).forEach(item => {
					item.addEventListener("click", event => {
						productitemshow.style.display = "block";
						productname.innerText = event.target.children[1].innerText;
						leftshowimg.src = event.target.children[0].src;
						if (productname.innerText == "STICKER") {
							document.getElementById("product-size-en").innerText = "25x25"
							document.getElementById("product-size-vi").innerText = "25x25"
						}
						else {
							document.getElementById("product-size-en").innerText = "80x50"
							document.getElementById("product-size-vi").innerText = "80x50"
						}
					});
				});
				document.querySelector(".product-close").addEventListener("click", () => {
					productitemshow.style.display = "none";
				});

				//  funtion arrowleft and arrowright click
				let arrowright = document.getElementById("left-show-arrowright");
				arrowright.addEventListener("click", function name(params) {
					leftshowimg.src = leftshowimg.src.replace("front", "back")

				})
				let arrowleft = document.getElementById("left-show-arrowleft");
				arrowleft.addEventListener("click", function name(params) {
					leftshowimg.src = leftshowimg.src.replace("back", "front")

				})
			</script>


			<!-- userguides -->
			<h2 lang="en" class="title-header userguides-en">USERGUIDES</h2>
			<h2 lang="vi" class="title-header userguides-vi">HƯỚNG DẪN</h2>
			<div class="portfolio">
				<div class="container-content">
					<main class="gallery content-wrap">
						<div data-speed="1" class="gallery__left content-left content-userguides">
							<div class="contactus-content-item gallery__item content-left-item"
								style="margin-bottom: 60px;">
								<p lang="en"><span>Step 1:</span> Place the card near the NFC reader region on your
									phone or NFC-enabled device. Your device will automatically connect and redirect to
									the registration page. Or you can directly access the following link:
									https://smartcard.online/{cardid} with {cardid} printed on the box. (*)</p>
								<p lang="vi"><span>Bước 1:</span> Đặt thẻ gần vùng đọc NFC trên điện thoại hoặc thiết bị
									hỗ trợ NFC của bạn. Thiết bị của bạn sẽ tự động kết nối và chuyển hướng đến trang
									đăng ký. Hoặc bạn có thể trực tiếp vào đường dẫn sau:
									https://smartcard.online/{cardid} với {cardid} được in trên hộp. (*)</p>
							</div>
							<div class="contactus-content-item gallery__item content-left-item"
								style="margin-bottom: 30px">
								<p lang="en"><span>Step 2:</span> Register an account. After successfully registering,
									you will be redirected to the login page.</p>
								<p lang="vi"><span>Bước 2:</span> Đăng ký tài khoản. Sau khi đăng ký thành công, bạn sẽ
									được chuyển hướng đến trang đăng nhập.</p>
							</div>
							<div class="contactus-content-item gallery__item content-left-item"
								style="margin-bottom: 40px;">
								<img lang="en" src="/image/index/userguides-en-1.JPG" alt="">
								<img lang="vi" src="/image/index/userguides-vi-1.JPG" alt="">
							</div>
							<div class="contactus-content-item gallery__item content-left-item"
								style="margin-bottom: 30px;">
								<p lang="en"><span>Step 3:</span> Login.</p>
								<p lang="vi"><span>Bước 3:</span> Đăng nhập.</p>
							</div>
							<div class="contactus-content-item gallery__item content-left-item"
								style="margin-bottom: 30px;">
								<img lang="en" src="/image/index/userguides-en-2.JPG" alt="">
								<img lang="vi" src="/image/index/userguides-vi-2.JPG" alt="">
							</div>
						</div>
						<div data-speed="1" class="gallery__right content-right content-userguides"
							style="display: block;padding-left: 250px;">
							<div class="contactus-content-item gallery__item content-right-item"
								style="margin-bottom: -17vh">
								<p lang="en"><span>Step 4:</span> After successfully logging in to the User Control
									page, you can set up card information.</p>
								<p lang="vi"><span>Bước 4:</span> Đăng nhập thành công vào trang User Control, bạn có
									thể thiết lập các thông tin của thẻ.</p>
							</div>
							<div class="contactus-content-item gallery__item content-left-item"
								style="margin-bottom: 40px;">
								<img lang="en" src="/image/index/userguides-en-3.JPG" alt="">
								<img lang="vi" src="/image/index/userguides-vi-3.JPG" alt="">
							</div>
							<div class="contactus-content-item gallery__item content-right-item">
								<p lang="en"><span>Step 5:</span> Activation of the card is successfully completed.</p>
								<p lang="vi"><span>Bước 5:</span> Hoàn tất kích hoạt thẻ thành công.</p>
							</div>
							<div class="contactus-content-item gallery__item content-right-item">
								<p lang="en"><span>(*)</span> How to check if your phone supports NFC? Go to
									<span>Settings</span> > Select <span>Connections</span> > If you see <span>NFC (or
										NFC and payment)</span>, then your phone supports NFC.
								</p>
								<p lang="vi"><span>(*)</span> Cách kiểm tra điện thoại có hỗ trợ NFC hay không? Vào
									<span>Cài đặt</span> > Chọn <span>Kết nối</span> > Nếu thấy có <span>NFC (hoặc NFC
										và thanh toán)</span> thì điện thoại bạn có hỗ trợ NFC.
								</p>
								<p lang="en">The phone models that support NFC are:</p>
								<p lang="vi">Các dòng điện thoại hỗ trợ NFC:</p>
								<p lang="en"> &nbsp;- For iPhone: All iPhone models starting from iPhone 6 are supported
									with NFC.</p>
								<p lang="vi"> &nbsp;- Đối với iPhone: Các mẫu iPhone kể từ iPhone 6 đều được hỗ trợ NFC.
								</p>
								<p lang="en"> &nbsp;- For Android: NFC is not compatible with phones running Android 3
									operating system.</p>
								<p lang="vi"> &nbsp;- Đối với Android: NFC không tương thích trên điện thoại chạy hệ
									điều hành Android 3.</p>
							</div>
						</div>
					</main>
				</div>
			</div>

			<!-- reviews -->
			<h2 lang="en" class="title-header reviews-en">REVIEWS</h2>
			<h2 lang="vi" class="title-header reviews-vi">ĐÁNH GIÁ</h2>
			<div class="portfolio">
				<div class="container-content">
					<main class="content-wrap-reviews">
						<div data-speed="1" class="gallery__left">
							<div class="gallery__item gallery__item-reviews">
								<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
									<div class="carousel-inner">
										<div class="carousel-item active">
											<div class="carousel-item-wrap">
												<div class="item">
													<div>
														<img src="/image/index/reviews-1.svg" alt="">

													</div>
													<p lang="en">Very convenient and cost-saving compared to paper
														business cards. They are also beautiful and sophisticated.</p>
													<p lang="vi">Rất tiện lợi, tiết kiệm so với card visit giấy. Đẹp và
														sang nữa.</p>
													<h6 lang="en">Phi Linh Tran</h6>
													<h6 lang="vi">Phi Linh Tran</h6>
													<p lang="en">Customer</p>
													<p lang="vi">Khách hàng</p>
												</div>
												<div class="item">
													<div>
														<img src="/image/index/reviews-4.png" alt="">

													</div>
													<p lang="en">The product is high-tech yet affordable, making it very
														reasonable and practical.</p>
													<p lang="vi">Sản phẩm mang tính chất công nghệ cao mà lại rẻ, rất
														hợp lý.</p>
													<h6 lang="en">Tung Lam</h6>
													<h6 lang="vi">Tung Lam</h6>
													<p lang="en">Customer</p>
													<p lang="vi">Khách hàng</p>
												</div>
												<div class="item" id="reviews-res">
													<div>
														<img src="/image/index/reviews-6.png" alt="">

													</div>
													<p lang="en">Great service. Long-term warranty.
														<br>See you again.
													</p>
													<p lang="vi">Dịch vụ tốt. Bảo hành thời gian lâu.
														<br>Hẹn gặp lai.
													</p>
													<h6 lang="en">Minh Quan Nguyen</h6>
													<h6 lang="vi">Minh Quan Nguyen</h6>
													<p lang="en">Customer</p>
													<p lang="vi">Khách hàng</p>
												</div>
											</div>
										</div>
										<div class="carousel-item">
											<div class="carousel-item-wrap">
												<div class="item">
													<div>
														<img src="/image/index/reviews-1.svg" alt="">

													</div>
													<p lang="en">The first-time experience with the product and service
														appears simple, yet remarkably advanced in technology. Thank
														you!</p>
													<p lang="vi">Lần đầu tiên trải nghiệm sản phẩm và dịch vụ nhìn đơn
														giản nhưng rất ư là công nghệ. Cảm ơn shop!</p>
													<h6 lang="en">Phuong Pham</h6>
													<h6 lang="vi">Phuong Pham</h6>
													<p lang="en">Customer</p>
													<p lang="vi">Khách hàng</p>
												</div>
												<div class="item">
													<div>
														<img src="/image/index/reviews-2.svg" alt="">

													</div>
													<p lang="en">Beautiful print quality. The card is small, compact,
														and easy to use. Extremely satisfactory for a smart business
														card.</p>
													<p lang="vi">Chất lượng in đẹp. Thẻ nhỏ, gọn, dễ dàng sử dụng. Quá
														ổn áp cho một chiếc danh thiếp thông minh.</p>
													<h6 lang="en">Ly Ly Tran</h6>
													<h6 lang="vi">Ly Ly Tran</h6>
													<p lang="en">Customer</p>
													<p lang="vi">Khách hàng</p>
												</div>
												<div class="item" id="reviews-res">
													<div>
														<img src="/image/index/reviews-3.png" alt="">

													</div>
													<p lang="en">Beautiful and high-quality card at a discounted price.
														Thank you shop!</p>
													<p lang="vi">Thẻ đẹp chất lượng, giá ưu đãi. Cảm ơn shop nhé.</p>
													<h6 lang="en">Huy Nguyen</h6>
													<h6 lang="vi">Huy Nguyen</h6>
													<p lang="en">Customer</p>
													<p lang="vi">Khách hàng</p>
												</div>
											</div>
										</div>
									</div>
									<button class="carousel-control-prev" type="button"
										data-bs-target="#carouselExampleControls" data-bs-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"><img
												style="width: 50px;" src="/image/index/arrowleft.svg" alt=""></span>
										<span class="visually-hidden">Previous</span>
									</button>
									<button class="carousel-control-next" type="button"
										data-bs-target="#carouselExampleControls" data-bs-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"><img
												style="width: 50px;" src="/image/index/arrowright.svg" alt=""></span>
										<span class="visually-hidden">Next</span>
									</button>
								</div>
							</div>
						</div>
					</main>
				</div>
			</div>


			<!-- contact -->
			<h2 lang="en" class="title-header contact-en">CONTACT</h2>
			<h2 lang="vi" class="title-header contact-vi">LIÊN HỆ</h2>
			<div class="portfolio">
				<div class="container-content">
					<main class="gallery content-wrap">
						<div data-speed="1" class="gallery__left content-left">
							<div class="contactus-content-item gallery__item content-left-item">
								<h2 lang="en">Contact information</h2>
								<h2 lang="vi">Thông tin liên hệ</h2>
								<p lang="en">We love to hear from you on our customer service, merchandise, website or
									any topics you want
									to share with us. Your comments and suggestions will be appreciated. Please refer to
									the information below:</p>
								<p lang="vi">Smartcard rất hân hạnh nhận được góp ý từ các bạn. Vui lòng theo dõi thông
									tin liên hệ bên
									dưới:</p>
								<p lang="en"><a><i class="fa fa-internet-explorer"></i></a>smartcardhub.com</p>
								<p lang="vi"><a><i class="fa fa-internet-explorer"></i></a>smartcardhub.com</p>
								<p lang="en"><a><i class="fa fa-phone"></i></a>Mobile/Zalo: 0902 22 59 74</p>
								<p lang="vi"><a><i class="fa fa-phone"></i></a>Di động/Zalo: 0902 22 59 74</p>
								<p lang="en"><a><i class="fa fa-envelope"></i></a>mail.smartcardhub.com</p>
								<p lang="vi"><a><i class="fa fa-envelope"></i></a>mail.smartcardhub.com</p>
								<p lang="en"><a><i class="fa fa-clock-o"></i></a>Everyday 8:00-19:00</p>
								<p lang="vi"><a><i class="fa fa-clock-o"></i></a>Mỗi ngày từ 8:00-19:00</p>
							</div>
						</div>

						<div data-speed="1" class="gallery__right content-right">
							<div class="contactus-content-item gallery__item content-right-item">
								<h2 lang="en">Make an order</h2>
								<h2 lang="vi">Đặt hàng</h2>
								<div class="input-name-mail">
									<input lang="en" id="contact-name-en" placeholder="Your name"></input>
									<input lang="vi" id="contact-name-vi" placeholder="Tên"></input>
									<input lang="en" id="contact-email-en" placeholder="Your mail"></input>
									<input lang="vi" id="contact-email-vi" placeholder="Địa chỉ e-mail"></input>
								</div>
								<input lang="en" type="text" id="contact-phone-en" placeholder="Phone number">
								<input lang="vi" type="text" id="contact-phone-vi" placeholder="Số điện thoại">
								<textarea lang="en" name="" id="contact-message-en" cols="30" rows="4"
									placeholder="What's on your content?"></textarea>
								<textarea lang="vi" name="" id="contact-message-vi" cols="30" rows="4"
									placeholder="Nội dung/ý kiến"></textarea>
								<button lang="en" onclick="submit(); return false">Submit</button>
								<button lang="vi" onclick="submit(); return false">Gửi</button>
							</div>
						</div>
					</main>
				</div>

			</div>
			<script src="https://smtpjs.com/v3/smtp.js"></script>
			<script>
				function submit() {
					if (localStorage["language"] == "en") {
						var name = document.getElementById("contact-name-en");
						var email = document.getElementById("contact-email-en");
						var phone = document.getElementById("contact-phone-en");
						var message = document.getElementById("contact-message-en");
					}
					else if (localStorage["language"] == "vi") {
						var name = document.getElementById("contact-name-vi");
						var email = document.getElementById("contact-email-vi");
						var phone = document.getElementById("contact-phone-vi");
						var message = document.getElementById("contact-message-vi");
					}
					if (phone.value != "" || email.value != "") {
						Email.send({
							Host: "smtp.elasticemail.com",
							Username: "phuthinhnguyen1101@gmail.com",
							Password: "D96B9CC46BD97B138DCF21F8F5B78F2FED08",
							To: 'hungga35610@gmail.com',
							From: "phuthinhnguyen1101@gmail.com",
							Subject: "Đặt hàng",
							Body: `[From: ${name.value}, ${email.value}, ${phone.value}]<br>${message.value}`
						}).then(message => {
							if (message == "OK") {
								$('.toast').toast("show")
							}
						})
						name.value = "";
						email.value = "";
						phone.value = "";
						message.value = "";
					}
				}
			</script>

			<!-- footer -->
			<div class="footer">
				<div class="waves">
					<div class="wave" id="wave1"></div>
					<div class="wave" id="wave2"></div>
					<div class="wave" id="wave3"></div>
					<div class="wave" id="wave4"></div>
				</div>
				<p style="text-align: center;">@2023 SMARTCARD.online</p>
			</div>
			
		</div>


		<!-- scrolltop -->
		<div id="scrolltop">
			<img src="/image/index/totop.png" alt="">
		</div>
		<!-- toast -->
		<div aria-live="polite" aria-atomic="true"
			class="d-flex justify-content-center align-items-center toast-container-res"
			style="position: absolute; bottom: 20px;right: 50px;">
			<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="1000">
				<div class="toast-header d-flex justify-content-between"
					style="background: url('/image/index/bg-01.jpg');background-position: center;background-size: cover;">
					<div>
						<img src="/image/favicon.ico" class="rounded mr-2" alt="..."
							style="width:20px;height: 20px;margin-right: 5px;">
						<strong class="mr-auto" style="color: white;">SMARTCARD</strong>
					</div>
					<button type="button" class="btn-close ml-2 mb-1" data-bs-dismiss="toast"></button>
				</div>
				<div lang="en" class="toast-body" style="color: black;">Your e-mail has been sent.</div>
				<div lang="vi" class="toast-body" style="color: black;">Gửi thư thành công.</div>
			</div>
		</div>
	</div>


	<!-- main-responsive -->
	<div class="wrapper" id="wrapper-responsive">

		<!-- menu-responsive -->
		<script>HTMLImporter.import("menu-responsive.html");</script>

		<!-- content-responsive -->
		<div class="content">

			<!-- home-responsive -->
			<header class="main-header home">
				<div class="layers">
					<div class="layer__header">
						<div class="layers__caption">Welcome to</div>
						<div class="layers__title">SMARTCARD</div>
					</div>
					<div class="layer layers__base"
						style="background-image: url('/parallax-scrolling/img/layer-base2.png');"></div>
					<div class="layer layers__front"
						style="background-image: url('/parallax-scrolling/img/layer-front2.png');"></div>
				</div>
			</header>

			<article class="main-article" style="background-image: url('/parallax-scrolling/img/dungeon2.jpg');">
				<div class="main-article__content main-article__content-home">
					<div class="home-item order1">
						<img class="gallery__item gallery__item-first-img" src="/image/index/home-11.png" alt="Alt" />
						<div class="text-block gallery__item">
							<h2 class="text-block__h" lang="en">
								NEW TRENDS WITH OUTSTANDING FEATURES
							</h2>
							<h2 class="text-block__h" lang="vi">
								XU HƯỚNG MỚI VỚI CÁC TÍNH NĂNG VƯỢT TRỘI
							</h2>
							<p class="text-block__p" lang="en">
								Many templates for choices. Simple and user-friendly setup interface. Share
								information with just one tap.
							</p>
							<p class="text-block__p" lang="vi">
								Thiết kế thẻ đa dạng, nhiều lựa chọn. Giao diện cài đặt đơn giản, dễ sử dụng. Chia
								sẻ thông tin chỉ với một lần chạm.
							</p>
						</div>
					</div>

					<div class="home-item order2">
						<div class="text-block gallery__item">
							<h2 class="text-block__h" lang="en">
								SMARTCARD - DIGITAL BUSINESS CARD PLATFORM
							</h2>
							<h2 class="text-block__h" lang="vi">
								SMARTCARD - NỀN TẢNG DANH THIẾP KĨ THUẬT SỐ
							</h2>
							<p class="text-block__p" lang="en">
								Welcome to us. Hope you have a fantastic experience with SMARTCARD.
							</p>
							<p class="text-block__p" lang="vi">
								Chào mừng bạn đến với chúng tôi. Hi vọng bạn có một trải nghiệm tuyệt vời với
								SMARTCARD.
							</p>
						</div>
						<div class="gallery__item gallery__item-home" style="display: flex;justify-content: center;">
							<img src="/image/index/home-12-front.png" alt="Alt" />
							<img src="/image/index/home-12-back.png" alt="Alt" />
						</div>

					</div>
				</div>
			</article>

			<!-- about-responsive -->
			<article class="main-article about-res" style="background-image: url('/parallax-scrolling/img/dungeon2.jpg');">
				<h2 lang="en" class="title-header-responsive about-en">ABOUT SMARTCARD</h2>
				<h2 lang="vi" class="title-header-responsive about-vi">VỀ SMARTCARD</h2>
				<div class="main-article__content main-article__content-about">

					<div class="about-item">

						<p lang="en"><span style="font-weight: 800;">SMARTCARD</span> is a card that has an
							integrated NFC chip - a chip that supports close-range communication for storing and
							processing information.</p>
						<p lang="vi"><span style="font-weight: 800;">SMARTCARD</span> là loại thẻ
							thông minh bên
							trong có tích hợp chip NFC - một loại chip hỗ trợ cho các thiết bị giao tiếp gần, có
							khả năng lưu trữ và xử lý thông tin.</p>


						<img src="/image/index/about-6.png" alt="" style="margin-bottom: 30px;">


						<p lang="en">With its compact size almost equivalent to a credit card, you can carry and
							use <span style="font-weight: 800;">SMARTCARD</span> anywhere.</p>
						<p lang="vi">Vói kích thước nhỏ gọn gần bằng chiếc thẻ tín dụng, bạn có thể mang theo và
							sử dụng <span style="font-weight: 800;">SMARTCARD</span> ở bất kỳ đâu.</p>

					</div>

					<div class="about-item">

						<img src="/image/index/about-4.png" alt="" style="margin-bottom: 30px;">


						<p lang="en"><span style="font-weight: 800;">SMARTCARD</span> acts as a medium to
							transfer information/data from the card to a receiving device with just a
							close-range communication interaction. Consequently, the cardholder can easily share
							their information with the recipient.</p>
						<p lang="vi"><span style="font-weight: 800;">SMARTCARD</span> đóng vai trò truyền thông
							tin/dữ liệu trong thẻ tới thiết bị nhận chỉ bằng một thao tác giao tiếp gần. Từ đó,
							người sở hữu thẻ có thể dễ dàng chia sẻ thông tin của mình cho người nhận.</p>


						<img src="/image/index/about-7.png" alt="">


					</div>
				</div>
			</article>


			<!-- products-responsive -->
			<article class="main-article products-res" style="background-image: url('/parallax-scrolling/img/dungeon2.jpg');">
				<h2 lang="en" class="title-header-responsive about-en">PRODUCT</h2>
				<h2 lang="vi" class="title-header-responsive about-vi">SẢN PHẨM</h2>
				<div class="main-article__content">

					<div class="products-item">
						<div class="item">
							<div class="foto">
								<div>
									<img src="/image/index/home-6-front.png" alt="projectImages" height="230" />
									<span class="project-date">STA-01</span>
									<br />
									<p class="project-title-settings mt-3">
										69.000 VND
									</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="foto">
								<div>
									<img src="/image/index/home-16-front.png" alt="projectImages" height="230" />
									<span class="project-date">PRE-01</span>
									<br />
									<p class="project-title-settings mt-3">
										89.000 VND
									</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="foto">
								<div>
									<img src="/image/index/home-7-front.png" alt="projectImages" height="230" />
									<span class="project-date">VIP-01</span>
									<br />
									<p class="project-title-settings mt-3">
										149.000 VND
									</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="foto">
								<div>
									<img src="/image/index/home-8-front.png" alt="projectImages" height="230" />
									<span class="project-date">VIP-02</span>
									<br />
									<p class="project-title-settings mt-3">
										149.000 VND
									</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="foto">
								<div>
									<img src="/image/index/home-9-front.png" alt="projectImages" height="230" />
									<span class="project-date">VIP-03</span>
									<br />
									<p class="project-title-settings mt-3">
										149.000 VND
									</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="foto">
								<div>
									<img src="/image/index/home-10-front.png" alt="projectImages" height="230" />
									<span class="project-date">VIP-04</span>
									<br />
									<p class="project-title-settings mt-3">
										149.000 VND
									</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="foto">
								<div>
									<img src="/image/index/home-18-front.png" alt="projectImages" height="230" />
									<span class="project-date">VIP-05</span>
									<br />
									<p class="project-title-settings mt-3">
										149.000 VND
									</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="foto">
								<div>
									<img src="/image/index/sticker-front.png" alt="projectImages" height="230" />
									<span class="project-date">STICKER</span>
									<br />
									<p class="project-title-settings mt-3">
										49.000 VND
									</p>
								</div>
							</div>
						</div>
					</div>
					
					<!-- show product when user click on product item -->
					<div class="product-item-show" id="product-item-show-res">
						<div class="product-item-show-wrap">
							<div class="product-item-show-left">
								<div class="product-item-show-left-item">
									<img src="/image/index/home-12-front.png" alt="" id="left-show-img-res" width="200"
										height="200">
								</div>
								<a id="left-show-arrowleft-res"><i class="fa fa-angle-left"></i></a>
								<a id="left-show-arrowright-res"><i class="fa fa-angle-right"></i></a>
							</div>
							<div class="product-item-show-right">
								<h2 id="product-name-res"></h2>
								<div class="product-detail">
									<p lang="en">Material: PVC</p>
									<p lang="vi">Chất liệu: PVC</p>
									<p lang="en">Size: <span id="product-size-res-en">80x50</span>mm</p>
									<p lang="vi">Kích thước: <span id="product-size-res-vi">80x50</span>mm</p>
									<p lang="en">Chip: Ntag215</p>
									<p lang="vi">Chip: Ntag215</p>
									<p lang="en">Storage capacity: 504 bytes</p>
									<p lang="vi">Dung lượng ghi: 504 byte</p>
									<p lang="en">Operating distance: 1 to 5cm</p>
									<p lang="vi">Khoảng cách hoạt động: 1 đến 5cm</p>
									<p lang="en">Data storage: >10 years</p>
									<p lang="vi">Lưu trữ dữ liệu: >10 năm</p>
									<p lang="en">Read count: 100,000 times</p>
									<p lang="vi">Số lần đọc: 100,000 lần</p>
								</div>
							</div>
							<span class="product-close-res">×</span>
						</div>

						<div id="myresult" class="img-zoom-result"></div>
					</div>
				</div>
				<p lang="en" style="margin-top: 30px;text-align: center;padding: 0 10px;">*For Premium VIP products, you are entitled to <strong>free</strong> customization of your <strong>own name</strong>, <strong>background image</strong>, and <strong>logo</strong>.</p>
				<p lang="vi" style="margin-top: 30px;text-align: center;padding: 0 10px;">*Các sản phẩm VIP, khách hàng được thay <strong>tên</strong> và <strong>hình nền</strong>, <strong>logo</strong> của riêng mình <strong>miễn phí</strong></p>
			</article>
			<script>
				let productitemshowres = document.getElementById("product-item-show-res")
				let leftshowimgres = document.querySelector("#left-show-img-res");
				let productnameres = document.getElementById("product-name-res")
				Array.from(document.querySelectorAll(".products-item .item")).forEach(item => {
					item.addEventListener("click", event => {
						productitemshowres.style.display = "block";
						productnameres.innerText = event.target.children[1].innerText;
						leftshowimgres.src = event.target.children[0].src;
						if (productnameres.innerText == "STICKER") {
							document.getElementById("product-size-res-en").innerText = "25x25"
							document.getElementById("product-size-res-vi").innerText = "25x25"
						}
						else {
							document.getElementById("product-size-res-en").innerText = "80x50"
							document.getElementById("product-size-res-vi").innerText = "80x50"
						}
					});
				});
				document.querySelector(".product-close-res").addEventListener("click", () => {
					productitemshowres.style.display = "none";
				});

				//  funtion arrowleft and arrowright click
				let arrowrightres = document.getElementById("left-show-arrowright-res");
				arrowrightres.addEventListener("click", function name(params) {
					leftshowimgres.src = leftshowimgres.src.replace("front", "back")

				})
				let arrowleftres = document.getElementById("left-show-arrowleft-res");
				arrowleftres.addEventListener("click", function name(params) {
					leftshowimgres.src = leftshowimgres.src.replace("back", "front")

				})
			</script>

			<!-- userguides-responsive -->
			<article class="main-article userguides-res" style="background-image: url('/parallax-scrolling/img/dungeon2.jpg');">
				<h2 lang="en" class="title-header-responsive about-en">USERGUIDES</h2>
				<h2 lang="vi" class="title-header-responsive about-vi">HƯỚNG DẪN</h2>
				<div class="main-article__content" style="display: block;max-width: 1200px;">

					<div class="userguides-item">

						<p lang="en"><strong>Step 1:</strong> Place the card near the NFC reader region on your
							phone or NFC-enabled device. Your device will automatically connect and redirect to
							the registration page. Or you can directly access the following link:
							https://smartcard.online/{cardid} with {cardid} printed on the box. (*)</p>
						<p lang="vi"><strong>Bước 1:</strong> Đặt thẻ gần vùng đọc NFC trên điện thoại hoặc thiết bị
							hỗ trợ NFC của bạn. Thiết bị của bạn sẽ tự động kết nối và chuyển hướng đến trang
							đăng ký. Hoặc bạn có thể trực tiếp vào đường dẫn sau:
							https://smartcard.online/{cardid} với {cardid} được in trên hộp. (*)</p>

						<p lang="en"><strong>Step 2:</strong> Register an account. After successfully registering,
							you will be redirected to the login page.</p>
						<p lang="vi"><strong>Bước 2:</strong> Đăng ký tài khoản. Sau khi đăng ký thành công, bạn sẽ
							được chuyển hướng đến trang đăng nhập.</p>
						<img lang="en" src="/image/index/userguides-en-1.JPG" alt="">
						<img lang="vi" src="/image/index/userguides-vi-1.JPG" alt="">
						<p lang="en"><strong>Step 3:</strong> Login.</p>
						<p lang="vi"><strong>Bước 3:</strong> Đăng nhập.</p>
						<img lang="en" src="/image/index/userguides-en-2.JPG" alt="">
						<img lang="vi" src="/image/index/userguides-vi-2.JPG" alt="">
					</div>

					<div class="userguides-item">

						<p lang="en"><strong>Step 4:</strong> After successfully logging in to the User Control
							page, you can set up card information.</p>
						<p lang="vi"><strong>Bước 4:</strong> Đăng nhập thành công vào trang User Control, bạn có
							thể thiết lập các thông tin của thẻ.</p>
						<img lang="en" src="/image/index/userguides-en-3.JPG" alt="">
						<img lang="vi" src="/image/index/userguides-vi-3.JPG" alt="">
						<p lang="en"><strong>Step 5:</strong> Activation of the card is successfully completed.</p>
						<p lang="vi"><strong>Bước 5:</strong> Hoàn tất kích hoạt thẻ thành công.</p>
						<p lang="en"><span>(*)</span> How to check if your phone supports NFC? Go to
							<span>Settings</span> > Select <span>Connections</span> > If you see <span>NFC (or
								NFC and payment)</span>, then your phone supports NFC.
						</p>
						<p lang="vi"><span>(*)</span> Cách kiểm tra điện thoại có hỗ trợ NFC hay không? Vào
							<span>Cài đặt</span> > Chọn <span>Kết nối</span> > Nếu thấy có <span>NFC (hoặc NFC
								và thanh toán)</span> thì điện thoại bạn có hỗ trợ NFC.
						</p>
						<p lang="en">The phone models that support NFC are:</p>
						<p lang="vi">Các dòng điện thoại hỗ trợ NFC:</p>
						<p lang="en"> &nbsp;- For iPhone: All iPhone models starting from iPhone 6 are supported
							with NFC.</p>
						<p lang="vi"> &nbsp;- Đối với iPhone: Các mẫu iPhone kể từ iPhone 6 đều được hỗ trợ NFC.
						</p>
						<p lang="en"> &nbsp;- For Android: NFC is not compatible with phones running Android 3
							operating system.</p>
						<p lang="vi"> &nbsp;- Đối với Android: NFC không tương thích trên điện thoại chạy hệ
							điều hành Android 3.</p>
					</div>
				</div>
			</article>


			<!-- reviews-responsive -->
			<article class="main-article reviews-res" style="background-image: url('/parallax-scrolling/img/dungeon2.jpg');">
				<h2 lang="en" class="title-header-responsive about-en">REVIEWS</h2>
				<h2 lang="vi" class="title-header-responsive about-vi">ĐÁNH GIÁ</h2>
				<div class="main-article__content" style="display: block;">

					<div class="reviews-item">
						<div id="carouselExampleControls-res" class="carousel slide" data-bs-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="carousel-item-wrap">
										<div class="item">
											<div>
												<img src="/image/index/reviews-1.svg" alt="">

											</div>
											<p lang="en">Very convenient and cost-saving compared to paper
												business cards. They are also beautiful and sophisticated.</p>
											<p lang="vi">Rất tiện lợi, tiết kiệm so với card visit giấy. Đẹp và
												sang nữa.</p>
											<h6 lang="en">Phi Linh Tran</h6>
											<h6 lang="vi">Phi Linh Tran</h6>
										
										</div>
										<div class="item">
											<div>
												<img src="/image/index/reviews-4.png" alt="">

											</div>
											<p lang="en">The product is high-tech yet affordable, making it very
												reasonable and practical.</p>
											<p lang="vi">Sản phẩm mang tính chất công nghệ cao mà lại rẻ, rất
												hợp lý.</p>
											<h6 lang="en">Tung Lam</h6>
											<h6 lang="vi">Tung Lam</h6>
										
										</div>
										<div class="item" id="reviews-res">
											<div>
												<img src="/image/index/reviews-6.png" alt="">

											</div>
											<p lang="en">Great service. Long-term warranty. See you again.
											</p>
											<p lang="vi">Dịch vụ tốt. Bảo hành thời gian lâu. Hẹn gặp lai.
											</p>
											<h6 lang="en">Minh Quan Nguyen</h6>
											<h6 lang="vi">Minh Quan Nguyen</h6>
										
										</div>
									</div>
								</div>
								<div class="carousel-item">
									<div class="carousel-item-wrap">
										<div class="item">
											<div>
												<img src="/image/index/reviews-1.svg" alt="">

											</div>
											<p lang="en">The first-time experience with the product and service
												appears simple, yet remarkably advanced in technology. Thank
												you!</p>
											<p lang="vi">Lần đầu tiên trải nghiệm sản phẩm và dịch vụ nhìn đơn
												giản nhưng rất ư là công nghệ. Cảm ơn shop!</p>
											<h6 lang="en">Phuong Pham</h6>
											<h6 lang="vi">Phuong Pham</h6>
										
										</div>
										<div class="item">
											<div>
												<img src="/image/index/reviews-2.svg" alt="">

											</div>
											<p lang="en">Beautiful print quality. The card is small, compact,
												and easy to use. Extremely satisfactory for a smart business
												card.</p>
											<p lang="vi">Chất lượng in đẹp. Thẻ nhỏ, gọn, dễ dàng sử dụng. Quá
												ổn áp cho một chiếc danh thiếp thông minh.</p>
											<h6 lang="en">Ly Ly Tran</h6>
											<h6 lang="vi">Ly Ly Tran</h6>
										
										</div>
										<div class="item" id="reviews-res">
											<div>
												<img src="/image/index/reviews-3.png" alt="">

											</div>
											<p lang="en">Beautiful and high-quality card at a discounted price.
												Thank you shop!</p>
											<p lang="vi">Thẻ đẹp chất lượng, giá ưu đãi. Cảm ơn shop nhé.</p>
											<h6 lang="en">Huy Nguyen</h6>
											<h6 lang="vi">Huy Nguyen</h6>
										
										</div>
									</div>
								</div>
							</div>
							<button class="carousel-control-prev" type="button"
								data-bs-target="#carouselExampleControls-res" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"><img style="width: 50px;"
										src="/image/index/arrowleft.svg" alt=""></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button"
								data-bs-target="#carouselExampleControls-res" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"><img style="width: 50px;"
										src="/image/index/arrowright.svg" alt=""></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>

					</div>


				</div>
			</article>


			<!-- contact-responsive -->
			<article class="main-article contact-res"
				style="background-image: url('/parallax-scrolling/img/dungeon2.jpg');justify-content: flex-start">
				<h2 lang="en" class="title-header-responsive about-en">CONTACT</h2>
				<h2 lang="vi" class="title-header-responsive about-vi">LIÊN HỆ</h2>
				<div class="main-article__content" style="align-items: flex-start;row-gap: 30px;column-gap: 40px;">

					<div class="contact-item">

						<h2 lang="en">Contact information</h2>
						<h2 lang="vi">Thông tin liên hệ</h2>
						<p lang="en">We love to hear from you on our customer service, merchandise, website or
							any topics you want
							to share with us. Your comments and suggestions will be appreciated. Please refer to
							the information below:</p>
						<p lang="vi">Smartcard rất hân hạnh nhận được góp ý từ các bạn. Vui lòng theo dõi thông
							tin liên hệ bên
							dưới:</p>
						<p lang="en"><a><i class="fa fa-internet-explorer"></i></a>smartcardhub.com</p>
						<p lang="vi"><a><i class="fa fa-internet-explorer"></i></a>smartcardhub.com</p>
						<p lang="en"><a><i class="fa fa-phone"></i></a>Mobile/Zalo: 0902 22 59 74</p>
						<p lang="vi"><a><i class="fa fa-phone"></i></a>Di động/Zalo: 0902 22 59 74</p>
						<p lang="en"><a><i class="fa fa-envelope"></i></a>mail.smartcardhub.com</p>
						<p lang="vi"><a><i class="fa fa-envelope"></i></a>mail.smartcardhub.com</p>
						<p lang="en"><a><i class="fa fa-clock-o"></i></a>Everyday 8:00-19:00</p>
						<p lang="vi"><a><i class="fa fa-clock-o"></i></a>Mỗi ngày từ 8:00-19:00</p>
					</div>

					<div class="contact-item">

						<h2 lang="en">Make an order</h2>
						<h2 lang="vi">Đặt hàng</h2>
						<div class="input-name-mail">
							<input lang="en" id="contact-name-res-en" placeholder="Your name"></input>
							<input lang="vi" id="contact-name-res-vi" placeholder="Tên"></input>
							<input lang="en" id="contact-email-res-en" placeholder="Your mail"></input>
							<input lang="vi" id="contact-email-res-vi" placeholder="Địa chỉ e-mail"></input>
						</div>
						<input lang="en" type="text" id="contact-phone-res-en" placeholder="Phone number">
						<input lang="vi" type="text" id="contact-phone-res-vi" placeholder="Số điện thoại">
						<textarea lang="en" name="" id="contact-message-res-en" cols="30" rows="4"
							placeholder="What's on your content?"></textarea>
						<textarea lang="vi" name="" id="contact-message-res-vi" cols="30" rows="4"
							placeholder="Nội dung/ý kiến"></textarea>
						<button lang="en" onclick="submitres(); return false">Submit</button>
						<button lang="vi" onclick="submitres(); return false">Gửi</button>
					</div>
				</div>
				<p style="position: fixed;bottom: 10px;">@2023 SMARTCARD.online</p>
			</article>
			<script src="https://smtpjs.com/v3/smtp.js"></script>
			<script>
				function submitres() {
					if (localStorage["language"] == "en") {
						var nameres = document.getElementById("contact-name-res-en");
						var emailres = document.getElementById("contact-email-res-en");
						var phoneres = document.getElementById("contact-phone-res-en");
						var messageres = document.getElementById("contact-message-res-en");
					}
					else if (localStorage["language"] == "vi") {
						var nameres = document.getElementById("contact-name-res-vi");
						var emailres = document.getElementById("contact-email-res-vi");
						var phoneres = document.getElementById("contact-phone-res-vi");
						var messageres = document.getElementById("contact-message-res-vi");
					}
					if (phoneres.value != "" || emailres.value != "") {
						Email.send({
							Host: "smtp.elasticemail.com",
							Username: "phuthinhnguyen1101@gmail.com",
							Password: "D96B9CC46BD97B138DCF21F8F5B78F2FED08",
							To: 'hungga35610@gmail.com',
							From: "phuthinhnguyen1101@gmail.com",
							Subject: "Đặt hàng",
							Body: `[From: ${nameres.value}, ${emailres.value}, ${phoneres.value}]<br>${messageres.value}`
						}).then(messageres => {
							if (messageres == "OK") {
								$('.toast').toast("show")
							}
						})
						nameres.value = "";
						emailres.value = "";
						phoneres.value = "";
						messageres.value = "";
					}
				}
			</script>
		</div>
	</div>


	<!-- #scroll to top -->
	<script>
		$("#scrolltop").click(function name(params) {
			$("html").animate({ scrollTop: 0 });
		})
		window.onscroll = function () { scrolltop() };
		function scrolltop() {
			if ((document.body.scrollTop > 0) || (document.documentElement.scrollTop > 0)) {
				$("#home-waves").hide();
			}
			else {
				$("#home-waves").show();
			}

			if ((document.body.scrollTop > 100) || (document.documentElement.scrollTop > 100)) {
				$("#scrolltop").addClass("scrolltop-show");
				$("nav").addClass('nav-sticky');
				$(".nav-responsive")[0].style.display = "flex";

			}
			else {
				$("#scrolltop").removeClass("scrolltop-show");
				$("nav").removeClass('nav-sticky');
				$(".nav-responsive")[0].style.display = "none";
			};
		}
	</script>

</body>

</html>