$fontAdamGorry: "AdamGorry";
$fontSegoeUI: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$text-color: rgb(228, 227, 227);
$title-color: rgb(231, 229, 229);
$text-home-color: #cdc6c3;
$fontSourceSerif4: "SourceSerif4";